
@font-face {
  font-family : "SF Pro Display";
  src : url("/fonts/sfpro/SFPRODISPLAYREGULAR.otf") format("opentype");
  font-weight:400;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family : "SF Pro Display";
  src : url("/fonts/sfpro/SFPRODISPLAYMEDIUM.otf") format("opentype");
  font-weight : 500;
  font-style:  normal;
  font-display : swap;
}

@font-face {
  font-family : "SF Pro Display";
  src : url("/fonts/sfpro/SFPRODISPLAYBOLD.otf") format("opentype");
  font-weight : 700; 
  font-style: normal;
  font-display:swap;
}@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

body {
  font-family: "SF Pro Display", sans-serif;
}


  :root {
    --radius: 0.5rem;
  }
}
